<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace">

  <targets>
    <target xsi:type="Console" name="console"
      layout="${longdate} [${level:uppercase=true}] ${message}" />
    <target name="logfile" xsi:type="File"
        fileName="/var/log/hal/${shortdate}_logfile.txt"
            layout="${longdate} ${level:uppercase=true}] ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logfile,console" />
  </rules>
</nlog>